{% extends 'base.html.twig' %}


{% block title %}{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluide">
        <div class="container">
            {{form_start(formSearch)}}
            {{form_end(formSearch)}}
        </div>
    </div>


    <div
        class="container mt-4">
        {# total items count #}
        <div class="count">
            Total:
            {{ properties.getTotalItemCount }}
            Biens

        </div>

        <div class="jambotron">
            {% for property in properties %}

                {% include 'property/_property.html.twig' %}
            {% endfor %}
        </div>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(properties) }}
        </div>

    </div>
{% endblock %}
