{% extends 'base.html.twig' %}


{% block title %}
    Title:

{% endblock %}


{% block body %}
    <div class="jambotron mt-4 ml-4">
        {% include 'property/_property.html.twig' %}

    </div>
    <div class="ml-5">
        <p>
            <a href="{{ path('admin_property_edit', {id: property.id}) }} " class="btn btn-primary">

                Editer ce bien
            </a>
        </p>
    </div>
    <div class="footer"></div>

{% endblock %}
